.post>a {
	font-size: 1.2em;
}

.date-and-user {
	font-size: .8em;
}

.vote {
	text-align: center;
	padding-right: 0;
}

.count {
	margin: 0;
}

#create-post-btn {
	font-size: 1.25em;
}

#create-post-div {
	margin-top: 10px;
	clear: right;
}