body {
	background-color: #f0f0f0;
}

.post>a {
	font-size: 1.2em;
}

.date-and-user {
	font-size: .8em;
}

.vote {
	text-align: center;
	padding-right: 0;
}

.count {
	margin: 0;
}

#create-post-btn {
	font-size: 1.2em;
}

.navbar-default {
	background-color: transparent;
	border: none;
	color: #007733;
}

.navbar-default .navbar-nav>li>a {
	color: #007733;
}

.navbar-default .navbar-brand {
	color: #007733;

}